/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */
//http://corporatedesign.htw-berlin.de/schrift-farbe/markenfarben/
//http://corporatedesign.htw-berlin.de/files/Presse/Sonstiges/Gruentoene_als_Hexadezimalwerte.pdf

 // Custom bootstrap variables must be set or imported *before* bootstrap.
 // see https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss


@import "htw";
$text-muted:                                $htw-green80;
$brand-primary:                             $htw-green100;
$blue: $htw-blue;

@import "bootstrap";
/*

*/
